body {
    margin: 0;
    overflow: hidden;
}

#Container {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Content {
    display: none;
    color: #ffffff;
    font-size: 30px;
    justify-content: center;
}

#Loading {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ring {
    border: 4px solid transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top-color: #bbc2d3;
    border-right-color: #bbc2d3;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes changecolor {
    from {
        color: black;
    }

    to {
        color: #ffffff;
    }
}

@keyframes changebg {
    from {
        background: black;
    }

    to {
        background: linear-gradient(45deg, #ff0057, #2196f3);
    }
}